@model LibraryManagementSystem.WebUI.Entity.Concrete.User

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<legend>Are you sure you want to delete the user?</legend>


<table class="table table-striped">

    <tr class="row">
        <th class="col-sm-3">Name</th>
        <td class="col-sm5">@Model.Name  @Model.Surname</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3"> Role </th>
        @if (Model.Role == 1)
        {
            <td class="col-sm5"> Administrator</td>
        }
        else
        {
            <td class="col-sm5">User</td>
        }

    </tr>
    <tr class="row">
        <th class="col-sm-3"> ISBN</th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Username)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3">Author </th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Password)</td>
    </tr>

</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/User/Index"><button type="button" class="btn btn-outline-dark">Back to list</button></a>
    </div>
    <br />
}
</div>
