@model IEnumerable<LibraryManagementSystem.WebUI.Entity.Concrete.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<p>
    <a href="/User/Create" class="btn btn-app">
        <i class="fas fa-user-plus"></i> Add User
    </a>
</p>

 <div class="card">
    <div class="card-header">
        <h3 class="card-title">All Users</h3>

    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>



                    @if (item.Role == 1)
                    {
                        <td><span class="badge bg-danger">Administrator</span></td>
                    }
                    else
                    {
                        <td><span class="badge bg-success">User</span></td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @if (User.IsInRole("1"))
                        {
                            <a href="/User/Edit/@item.Id"> <button type="button" class="btn btn-outline-dark">Edit</button></a>
                            <a href="/User/Delete/@item.Id"> <button type="button" class="btn btn-outline-danger">Delete</button></a>
                        }

                    </td>
                    <td>
                        @Ajax.ActionLink("Your Books", "BooksOnUserPartial",
                   "Book", new { id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "UserList" }, new { @class = "btn btn-outline-primary" })

                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
 <div id="UserList"></div>