@using LibraryManagementSystem.WebUI.Utilities.Security
@model LibraryManagementSystem.WebUI.Entity.Concrete.Book
@{
    ViewBag.Title = "Delete Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Are you sure you want to delete the book?</legend>

<table class="table table-striped">
    <tr class="row">
        <th class="col-sm-3">Category Name</th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Category.Name)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3"> Mevcut Kişisi</th>
        <td class="col-sm5">@UserRoleProvider.Name</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3">Book Name</th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3"> ISBN</th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Isbn)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3">Author </th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Author)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3">Number of Pages </th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.NumberOfPages)</td>
    </tr>
    <tr class="row">
        <th class="col-sm-3">Description </th>
        <td class="col-sm5"> @Html.DisplayFor(model => model.Description)</td>
    </tr>
</table>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input autofocus type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/Book/Index"><button type="button" class="btn btn-outline-dark">Back to list</button></a>
    </div>
}
</div>