@model LibraryManagementSystem.WebUI.Models.BookModel

@{
    ViewBag.Title = "Ödünç Kitap Al";
}

@using (Html.BeginForm("OduncKitapAl", "Kitap", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <br />

    <div class="card card-olive">
        <div class="card-header">
            <h3 class="card-title">Ödünç Kitap Al        </h3>
        </div>

        <div class="card-body">






            <div class="form-group">
                <label for="uploadFile"> Resim </label>
                <br />
                <input id="ImagePath" title="Upload a product image"
                       type="file" name="uploadFile" class="btn btn-outline-dark" />

            </div>


        </div>



        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success">Talep et</button>
        </div>
    </div>




}


@if (ViewBag.Olumsuz != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Uyarı!</h5> @ViewBag.Olumsuz
    </div>
}
@if (ViewBag.Olumlu != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-check"></i> Tebrikler!</h5>
        @ViewBag.Olumlu
    </div>
}
@if (ViewBag.Olumsuz2 != null)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-check"></i> Maalesef!</h5>
        @ViewBag.Olumsuz2
    </div>
}@if (ViewBag.gecmis != null)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-check"></i> Maalesef!</h5>
        @ViewBag.gecmis
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}